
# org: gaurangkhator
# "service" is the name of this project. This will also be added to your AWS resource names.
service: cashtrail-expense-api

provider:
  name: aws
  runtime: nodejs20.x
  region: ap-south-1
  stage: dev

  iam:
    role:
      statements:
        - Effect: "Allow"
          Action:
            - dynamodb:PutItem
            - dynamodb:GetItem
            - dynamodb:DeleteItem
            - dynamodb:UpdateItem
            - dynamodb:Scan
            - dynamodb:Query
          Resource: "*"

  httpApi:
    cors:
      allowedOrigins: 
        - http://localhost:3000
      allowedHeaders:
        - Content-Type
      allowedMethods:
        - Get
        - POST 
        - OPTIONS
        - PUT 

functions:
  createExpense:
    handler: handlers/createExpense.createExpense
    events:
      - httpApi:
          path: /expenses
          method: post

  getExpense:
    handler: handlers/getExpense.getExpense
    events:
      - httpApi:
          path: /expenses
          method: get


resources:
  Resources:
    ExpensesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Expenses
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
          - AttributeName: expenseId
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
          - AttributeName: expenseId
            KeyType: RANGE
